{% extends "base.html.twig" %}

{% set title = "Mot de passe perdu" %}

{% block title %}
	{{parent()}}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="security-page">
		<div class="card security-form">
			<h1 class="card-title">{{ title }}</h1>
			<div class="card-body">
				{{form_start(lostPwdForm)}}
				{{form_row(lostPwdForm.username)}}
				<button type="submit" class="btn btn-success" id="lost_pwd_submit">Réinitialiser mon mot de passe
				</button>
				{{form_end(lostPwdForm)}}

			</div>
		</div>
	</div>
{% endblock %}
