{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Liste des tricks
{% endblock %}

{% block body %}
	<section id="homepage-img">
		<div class="homepage-band">
			<h2 class="homepage-band-text">Board to be wild...</h2>
		</div>
		<div class="trick-list-scroll-btn scroll-down">
			<a href="#trick-list">
				<i class="bi bi-arrow-down-square"></i>
			</a>
		</div>
	</section>
	<div class="container-fluid">
		<section id="trick-list">
			<h1>Liste des tricks</h1>
			<div class="row tricks">
				{% for trick in tricks %}
					<div class="col-md-2 col-xs-10 {{ (loop.index)%5 == 1 ? 'offset-md-1' : '' }}">
						<div class="card trick-list-item">
							<img src="{{asset(trick.getFirstImgUrl)}}" class="card-img-top">
							<div class="card-body trick-card-body">
								<a class="trick-link" href="{{path("trick_show", {"slug":trick.slug})}}">
									<h5 class="card-title trick-name">
										{{trick.name}}
									</h5>
								</a>
								{% if app.user %}
									<div class="trick-btns card">
										<a href="{{path("trick_edit", {'slug':trick.slug})}}">
											<i class="bi bi-pencil-fill"></i>
										</a>
										<a href="#" class="fake-delete-trick-home-btn">
											<i class="bi bi-trash-fill" data-trickslug="{{trick.slug}}"></i>
										</a>
										<div id="delete-trick-{{trick.slug}}">
											{% include "trick/_delete_form.html.twig" %}
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				{% if display_load_more_btn %}
					<div class="trick-list-bottom">
						<a class="btn btn-outline-primary load-more-btn" href="{{asset('/')}}{{tricks|length + 15}}#trick-list">Load more...</a>
					</div>
				{% endif %}
				<div class="create-trick-btn-container">
					<a class="btn btn-outline-secondary" href="{{path("trick_create")}}">
						Ajouter un Trick
					</a>
				</div>
			</div>
			<div class="trick-list-scroll-btn">
				<a href="#trick-list">
					<i class="bi bi-arrow-up-square"></i>
				</a>
			</div>
		</section>
	</div>

{% endblock %}
