<div class="comment-list container">
	{% for comment in trick.comments|sort((a) => a.id) %}
		{% if loop.index <= commentPaginate %}
			{% if comment.author.avatar %}
				{% set url_avatar = comment.author.avatar.url %}
			{% else %}
				{% set url_avatar = "/img/users/default.png" %}
			{% endif %}
			<div class="comment">
				<div class="comment-author-img-container">
					<img src="{{url_avatar}}" class="comment-author-img">
				</div>
				<div class="card">
					<div class="card-header">
						<strong class="comment-author">
							{{comment.author.name}}
						</strong>
						<em class="comment-createdAt">
							{{comment.createdAt|date('d/m/Y H:i')}}
						</em>
					</div>
					<div class="card-body">
						<p class="comment-content">
							{{comment.content}}
						</p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	{% if trick.comments|length > commentPaginate %}
		<div class="comment-list-bottom">
			<a href="{{asset('/trick/')}}{{trick.slug ~'/'}}{{commentPaginate + 10}}" class="btn btn-outline-primary load-more-btn">Load more...</a>
		</div>
	{% endif %}
</div>
