<nav class="navbar">
	<div class="container-fluid">
		<a class="navbar-brand no_mobile" href="{{asset('/')}}">
			<img src='{{asset("https://icons.getbootstrap.com/assets/icons/snow2.svg")}}' alt="" width="35" height="35" class="d-inline-block align-top">
			SnowTricks
		</a>
		<div class="nav-links">
			<ul>
				<li class="nav-link">
					<a href="{{asset('/')}}">
						<span class="nav-link-text no_mobile">Home</span>
						<i class="bi bi-house-fill nav-link-icon"></i>
					</a>
				</li>
				{% if app.user %}
					<li class="nav-link">
						<a href="{{path('account')}}">
							<span class="nav-link-text no_mobile">Mon compte</span>
							<i class="bi bi-person-circle nav-link-icon"></i>
						</a>
					</li>
					<li class="nav-link">
						<a href="{{path('app_logout')}}" class="logout-navlink">
							<span class="nav-link-text no_mobile">Deconnexion</span>
							<i class="bi bi-box-arrow-in-right nav-link-icon" style="color:red;"></i>
						</a>
					</li>
				{% else %}
					<li class="nav-link">
						<a href="{{asset('/#trick-list')}}">
							<span class="nav-link-text no_mobile">Tricks</span>
							<i class="bi bi-bookmark-fill nav-link-icon"></i>
						</a>
					</li>
					<li class="nav-link">
						<a href="{{path('signUp')}}" class="signup-navlink">
							<span class="nav-link-text no_mobile">SignUp</span>
							<i class="bi bi-box-arrow-in-right nav-link-icon"></i>
						</a>
					</li>
					<li class="nav-link no_mobile">
						<a href="{{path('app_login')}}" class="login-navlink">
							<span class="nav-link-text no_mobile">SignIn</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
