<div class="container trick-form">
	{{form_row(formTrick.name,{'attr': {'placeholder':'Nom du trick'}})}}
	{{form_row(formTrick.description,{'attr':{ 'placeholder':'Description', 'rows':8}})}}
	<div class="cat-and-btns">
		<div class="form-group">
			{{form_widget(formTrick.category,{'attr':{'class':'form-control'}})}}
		</div>
		<div class="form-group">
			{{form_widget(formTrick.save)}}
		</div>
	</div>
	<div class="form-rest">
		{{form_rest(formTrick)}}
	</div>

</div>
