<div class="container trick-form">
	{{form_row(formTrick.name,{'attr': {'placeholder':'Nom du trick'}})}}
	{{form_row(formTrick.description,{'attr':{ 'placeholder':'Description', 'rows':8}})}}

	{{form_row(formTrick.save)}}
	<div class="form-rest">
		{{form_rest(formTrick)}}
	</div>
	{{ form_end(formTrick)}}
</div>
