{{ form_start(formTrick)}}
<div class="row medias" data-prototype="{{ form_widget(formTrick.medias.vars.prototype)|e('html_attr') }}">
	{% for media in formTrick.medias %}
		<div class="col-md-2" id="div_{{media.vars.id}}">
			<img class="img-thumbnail" src="{{media.vars.value.url ?? " "}}">
			<div class="input-group input-group-sm mb-3 upload-input">
				{{ form_widget(media.file, {'attr':{"class":"form-control"}})}}
			</div>
			<div class="card edit-trick-btns">
				<a class="edit-media-link" href="#" data-id="{{media.vars.id}}">
					<i class="bi bi-pencil-fill"></i>
				</a>
				<a href="#" class="delete-media-link" data-id="{{media.vars.id}}">
					<i class="bi bi-trash-fill"></i>
				</a>
			</div>
		</div>
	{% endfor %}
</div>
<div class="row">
	<div class="form-group">
		<button type="button" class="btn btn-primary add_media_link col-md-2" data-collection-holder-class="medias">
			<i class="bi bi-plus-square"></i>
		</button>
	</div>
</div>
