<div class="row medias" data-prototype="{{ form_widget(formTrick.medias.vars.prototype)|e('html_attr') }}">
	{% for media in formTrick.medias %}
		{% set is_image = media.vars.value.type == 'img' %}
		{% set is_video = media.vars.value.type == 'video' %}
		<div class="col-md-3" id="div_{{media.vars.id}}">
			<div class="media-contain">
				{% if loop.first and is_image %}
					<span class="badge bg-success main-img-badge">Main</span>
				{% endif %}
				{% if trick is defined %}
					{% set img_url = media.vars.value.url %}
				{% else %}
					{% set img_url = default_img_url %}
				{% endif %}
				{% if is_image %}
					<img class="img-thumbnail" src="{{asset(img_url)}}">
				{% elseif is_video %}
					<img class="img-thumbnail" src="{{asset('/img/video-logo.png')}}">
				{% endif %}
			</div>
			<div class="input-group input-group-sm mb-3 upload-input">
				{{ form_row(media.type, {'attr':{'data-idmedia':media.vars.id}})}}
			</div>
			<div class="input-group input-group-sm mb-3 upload-input">
				{{ form_row(media.file)}}
			</div>
			<div class="input-group input-group-sm mb-3 upload-input">
				{{ form_row(media.url)}}
			</div>
			<div class="card edit-trick-btns">
				<a class="edit-media-link" href="#" data-id="{{media.vars.id}}">
					<i class="bi bi-pencil-fill"></i>
				</a>
				<a href="#" class="delete-media-link" data-id="{{media.vars.id}}">
					<i class="bi bi-trash-fill"></i>
				</a>
			</div>
		</div>
	{% endfor %}
</div>
<div class="row">
	<div class="form-group">
		<button type="button" class="btn btn-primary add_media_link col-md-2" data-collection-holder-class="medias">
			<i class="bi bi-plus-square"></i>
		</button>
	</div>
</div>
