{% extends 'trick/show.html.twig' %}

{% if edit %}
	{% set title = "Modification de : "~trick.name %}
{% else %}
	{% set title = "Creation d'un Trick" %}
{% endif %}

{% block title %}
	{{title}}
{% endblock %}

{% block medias %}
	{{ form_start(formTrick)}}
	<div class="row medias" data-prototype="{{ form_widget(formTrick.medias.vars.prototype)|e('html_attr') }}">
		{% for media in formTrick.medias %}
			<div class="col-md-2" id="div_{{media.vars.id}}">
				<img class="img-thumbnail" src="{{media.vars.value.url}}">
				{{ form_widget(media.url, {"attr":{"hidden":true, "class":"media-link-input"}})}}
				<div class="card edit-trick-btns">
					<a class="edit-media-link" href="#" data-id="{{media.vars.id}}">
						<i class="bi bi-pencil-fill"></i>
					</a>
					<a href="#" class="delete-media-link" data-id="{{media.vars.id}}">
						<i class="bi bi-trash-fill"></i>
					</a>
				</div>
			</div>
		{% endfor %}
		<button type="button" class="add_media_link col-md-2" data-collection-holder-class="medias">Add a media</button>
	</div>
{% endblock %}

{% block form %}
	<div class="container trick-form">
		{{form_row(formTrick.name,{'attr': {'placeholder':'Nom du trick'}})}}
		{{form_row(formTrick.description,{'attr':{ 'placeholder':'Description', 'rows':8}})}}

		{{form_row(formTrick.save)}}

		{{ form_end(formTrick)}}
	</div>
{% endblock %}
