{% extends '/trick/base.html.twig' %}

{% block trick_content %}
	<div class="card edit-trick-btns edit-trick-btns-main">
		<a href="{{path("trick_edit", {'slug':trick.slug})}}">
			<i class="bi bi-pencil-fill"></i>
		</a>
		<a href="{{path("trick_edit", {'slug':trick.slug})}}">
			<i class="bi bi-trash-fill"></i>
		</a>
	</div>
	{% if trick.medias is not empty and trick.medias[0].type == "img" %}
		{% block main_img %}
			<img src="{{asset(trick.medias[0].url)}}" alt="{{trick.name}}" class="img-fluid">
		{% endblock %}
	{% else %}
		<img src="{{asset('/img/tricks/default.jpg')}}">
	{% endif %}
	<div class="card-title-band">
		<h1 class="card-title trick-title">{{title}}</h1>
	</div>
	<div class="card-body">
		<div class="see-medias-btn dropduwn">
			<button class="btn btn-secondary" type="button" id="dropdownMedias">
				Voir les medias
			</button>
		</div>
		<div class="trick-medias no_mobile">
			{% block medias %}
				<div class="row">
					{% for media in trick.medias.toArray %}
						<div class="col-lg-2 col-md-6 col-sm-12 trick-media">
							{% if media.type == 'img' %}
								<img class="img-thumbnail" src=" {{asset(media.url)}} ">
							{% elseif media.type == 'video' %}
								<embed src="{{asset(media.url|replace({'watch?v=':'embed/'}))}}" type="video/webm"/>
							{% endif %}

						</div>
					{% endfor %}
				</div>
			{% endblock %}
		</div>
		<div class="trick-desc">
			<p>{{trick.description}}</p>
		</div>
		<div class="trick-infos">
			<span class="badge bg-secondary created-at-badge">
				Créé le :
				{{trick.createdAt|date('d/m/Y')}}
			</span>
			{% if trick.updatedAt %}
				<span class="badge bg-success updated-at-badge">
					Mis à jour le :
					{{trick.updatedAt|date('d/m/Y')}}
				</span>
			{% endif %}
			<span class="badge bg-info category-badge">
				Categorie :
				{{trick.category.name|capitalize}}
			</span>
		</div>
	</div>
{% endblock %}
